[% META title = "About" -%]

<h1>JSAN</h1>

<p>
  As a long-time Perl developer, writing software with JavaScript has
  been somewhat painful. Unlike when writing Perl code, there was no good
  repository of open source code to draw from for JavaScript. That's
  how JSAN was conceived.
</p>

<p>
  <a href="http://use.perl.org/~schwern/journal/24112">Michael Schwern</a>
  first had the epiphany back in April of 2005. In May of 2005
  <a href="http://www.justatheory.com/computers/programming/javascript/emulating_namespaces.html">David Wheeler</a>
  had the idea of writing down a good way to emulate namespaces in
  JavaScript 1.5. In June of 2005 <a href="http://openjsan.org/doc/CWEST/JSAN/">Casey West</a>
  began work on a fully cross-browser implementation of Michael Schwern's original vision.
  Finally in July of 2005 <a href="http://openjsan.org">Open JSAN</a> was launched.
</p>

<p>
  Our vision is simple and unified. Bring the joy of collaborative open source
  development embraced by Perl developers through the CPAN to JavaScript, a
  unique and independent programming language with potential in all areas of
  modern development.
</p>

<h1>Developers</h1>

<h2>Casey West</h2>

<p>
  Casey West is the creator of Open JSAN and the developer of the JSAN
  library for writing maintainable and modular JavaScript libraries.
</p>

<h2>Many Thanks</h2>

<p>
  This is not a one man show. Thank God.
</p>

<dl>

  <dt>Brendan Eich</dt>
  <dd><p>
    <a href="http://weblogs.mozillazine.org/roadmap/">Brendan</a> is the
    creator of JavaScript, and a member of the ECMAScript working group. His talents
    inspired this language, its ease of use, and wide spread adoption.
  </p></dd>

  <dt>Michael Schwern</dt>
  <dd><p>
    <a href="http://use.perl.org/~schwern/journal/">Michael</a> took the time
    to outline his thoughts about writing modular JavaScript, and creating
    a central repository for well-written libraries.
  </p></dd>

  <dt>David Wheeler</dt>
  <dd><p>
    <a href="http://justatheory.com">David</a> outlined a simple,
    intelligent solution to the problem of namespaces in JavaScript 1.x.
    He also ported Michael Schwern's excellent Perl testing library
    <a href="http://search.cpan.org/~mschwern/Test-Simple-0.60/">Test::Simple</a>
    to JavaScript as
    <a href="http://openjsan.org/doc/theory/Test/Simple/">Test.Simple</a>.
  </p></dd>

  <dt>Marshall Roch</dt>
  <dd><p>
    <a href="http://www.spastically.com">Marshall</a> lent his JavaScript and
    style skill to Open JSAN and the JSAN library, helping specifically with
    Internet Explorer compatibility. Marshall also started our
    <a href="/community/lists.html">mailing lists</a>
    by registering the jsan group with <a href="http://googlegroups.com">Google Groups</a>.
  </p></dd>
  
  <dt>Ask Hansen</dt>
  <dd><p>
    <a href="http://develooper.com/">Ask</a> provided a Develooper
    signed SSL certificate.
  </p></dd>

  <dt>Samuel Marcius</dt>
  <dd><p>
    <a href="http://fontenvironment.com/">Samuel</a> created both the rhino
    and shark logos and has allowed us to use them for non-commercial purposes.
  </p></dd>

  <dt>Jesse Vincent</dt>
  <dd><p>
    <a href="http://www.livejournal.com/users/obra/">Jesse</a> has lent
    countless amounts of advice and support, reaching from within his vast
    abilities to develop and steer successful Open Source works. Jesse also
    wrote <a href="http://bestpractical.com/rt">Request Tracker</a>, which
    I use to manage our work.
  </p></dd>

  <dt>Adam Kennedy</dt>
  <dd><p>
    <a href="http://ali.as">Adam</a> did the initial work on the indexer
    for the JSAN shell. He also began brainstorming the functionality
    that the JSAN infrastructure should have and based on that has lent
    valuable input to this project.
  </p></dd>


</dl>
