[% META type = 'text' -%]

h2 {
	text-align: right;
}
h2 a {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: #009400;
	background: #eee;
	border: 1px solid #ccc;
}

h2 a:hover {
	background: #f5f5f5;
}

h3 a {
	text-decoration: none;
	color: #006400;
}

h3 a:hover {
	color: #009400;
}

h3 a:active {
	color: #00c400;
}

h3 a:visited {
	color: #003400;
}
