[% META title = 'Community - Git Source Control' %]

<h1>JSAN Git Repository</h1>

<p>
  The code that runs JSAN is available in the <a href="http://github.com/openjsan">JSAN Git Repository on GitHub</a>.
  Checkout a copy and start hacking! Send your patches to the
  <a href="lists.html#jsan-devel">JSAN Development Mailing List</a> or
  discuss them on <a href="irc://irc.freenode.net/jsan"><code>irc.freenode.net</code> in the <code>#jsan</code>
  channel</a>. Once you've done that you're ready to get commit rights and you
  can contribute accordingly.
</p>

<pre>
git clone git://github.com/openjsan/openjsan.git
</pre>
