[% META title = 'Community' -%]

<p>
  Community helps projects thrive. Open JSAN won't work without active
  participation from you. Please join us in whatever capacity you can.
</p>

<ul>
  <li><a href="lists.html">Mailing Lists</a></li>
  <li><a href="mirrors.html">Mirrors</a></li>
  <!--<li><a href="http://planet.openjsan.org">Planet JavaScript</a></li>-->
  <li><a href="code.html">Code</a></li>
  <li><a href="http://github.com/openjsan/openjsan/issues">Todo</a> - Bugs, Feature Requests, etc...</li>
  <li><a href="promote.html">Promote</a></li>
</ul>

