[% META title = 'Community - Request Tracker' %]

<h2>RT for the JSAN System</h2>

<p>
JSAN uses <a href="http://bestpractical.com/rt/">Request Tracker</a>
to manage all incoming requests. These include feature requests,
bug reports, and questions concerning <em>JSAN infrastructure</em>.
</p>
<p>
Similar reports concerning JavaScript distributions on JSAN should
be directed to the <a href="lists.html#jsan-authors">JSAN Authors</a>
mailing list at the present time.
</p>
<p>
  To submit a request, use the email interface by sending a message
  to <em>rt-internal at openjsan dot org</em>. You may browse
  current requests as the guest user at our
  <a href="https://master.openjsan.org/community/rt/internal/index.html?user=guest;pass=guest">Internal RT</a> site.
</p>
