[% META title = 'Community - Subversion Source Control' %]

<h1>JSAN Subversion Repository</h1>

<p>
  The code that runs JSAN is available in the JSAN Subversion Repository.
  Checkout a copy and start hacking! Send your patches to the
  <a href="lists.html#jsan-devel">JSAN Development Mailing List</a> or
  discuss them on <a href="irc://irc.freenode.net/jsan"><code>irc.freenode.net</code> in the <code>#jsan</code>
  channel</a>. Once you've done that you're ready to get commit rights and you
  can contribute accordingly.
</p>

<pre>
svn co svn://master.openjsan.org/openjsan
</pre>
